<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243651168043-fg23f64k1dv08n2d5cu5njkbtdoiffu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243651168043-fg23f64k1dv08n2d5cu5njkbtdoiffu8</string>
	<key>API_KEY</key>
	<string>AIzaSyCpZ4O0NspwUdYGr_pS3RgzCADkOLwiDqI</string>
	<key>GCM_SENDER_ID</key>
	<string>243651168043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grid.assignment3</string>
	<key>PROJECT_ID</key>
	<string>firstproject-55b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>firstproject-55b0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243651168043:ios:3a805b6d1fae3f0288676e</string>
</dict>
</plist>